@import '../font/iconfont.less';

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
   
    font: 14px 'Helvetica Neue','Helvetica','PingFang SC','\5FAE\8F6F\96C5\9ED1','Tahoma','Arial','sans-serif';
    overflow: hidden;
}
a{
    color: #333;
    text-decoration: none;
}
.theme-dark-blue{
    @bgcolor:#03152a;
    .admin-logo{
        background-color: @bgcolor;
    }
    .admin-aside.el-aside {
        background-color: @bgcolor;
    }
}
// 重置card样式
.el-card{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    margin-bottom: 15px;
}
.el-card__header{
    padding: 10px 15px;
}
.el-card__body{
    padding: 10px 15px;
}