
@font-face {
    font-family: ele-icon;
    src: url(../font/iconfont.eot?v=220);
    src: url(../font/iconfont.eot?v=220#iefix) format('embedded-opentype'), url(../font/iconfont.svg?v=220#iconfont) format('svg'), url(../font/iconfont.woff?v=220) format('woff'), url(../font/iconfont.ttf?v=220) format('truetype')
}

// .ele-icon {
//     font-family: ele-icon !important;
//     font-size: 16px;
//     font-style: normal;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale
// }
[class*="ele-icon-"], [class^=ele-icon-] {
    font-family: ele-icon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.el-menu [class^=ele-icon-] {
    vertical-align: middle;
    width: 24px;
    text-align: center;
    font-size: 14px;
}
.ele-icon-duihua:before {
    content: "\e611"
}

.ele-icon-shezhi:before {
    content: "\e614"
}

.ele-icon-yinshenim:before {
    content: "\e60f"
}

.ele-icon-search:before {
    content: "\e615"
}

.ele-icon-fenxiang1:before {
    content: "\e641"
}

.ele-icon-shezhi1:before {
    content: "\e620"
}

.ele-icon-yinqing:before {
    content: "\e628"
}

.ele-icon-yuejuancuohao:before {
    content: "\1006"
}

.ele-icon-cuo:before {
    content: "\1007"
}

.ele-icon-baobiao:before {
    content: "\e629"
}

.ele-icon-star:before {
    content: "\e600"
}

.ele-icon-yuandian:before {
    content: "\e617"
}

.ele-icon-chat:before {
    content: "\e606"
}

.ele-icon-logo:before {
    content: "\e609"
}

.ele-icon-list:before {
    content: "\e60a"
}

.ele-icon-tubiao:before {
    content: "\e62c"
}

.ele-icon-right:before {
    content: "\1005"
}

.ele-icon-huanfu2:before {
    content: "\e61b"
}

.ele-icon-On-line:before {
    content: "\e610"
}

.ele-icon-biaoge:before {
    content: "\e62d"
}

.ele-icon-youyou:before {
    content: "\e602"
}

.ele-icon-zuozuo:before {
    content: "\e603"
}

.ele-icon-cart-simple:before {
    content: "\e698"
}

.ele-icon-cry:before {
    content: "\e69c"
}

.ele-icon-smile:before {
    content: "\e6af"
}

.ele-icon-survey:before {
    content: "\e6b2"
}

.ele-icon-tree:before {
    content: "\e62e"
}

.ele-icon-iconfont17:before {
    content: "\e62f"
}

.ele-icon-tianjia:before {
    content: "\e61f"
}

.ele-icon-xiazai:before {
    content: "\e601"
}

.ele-icon-xuanzemoban48:before {
    content: "\e630"
}

.ele-icon-gongju:before {
    content: "\e631"
}

.ele-icon-face-surprised:before {
    content: "\e664"
}

.ele-icon-bianji:before {
    content: "\e642"
}

.ele-icon-speaker:before {
    content: "\e645"
}

.ele-icon-xiangxia:before {
    content: "\e61a"
}

.ele-icon-wenjian:before {
    content: "\e621"
}

.ele-icon-layouts:before {
    content: "\e632"
}

.ele-icon-duigou:before {
    content: "\e618"
}

.ele-icon-tianjia1:before {
    content: "\e608"
}

.ele-icon-yaoyaozhibofanye:before {
    content: "\e633"
}

.ele-icon-read:before {
    content: "\e705"
}

.ele-icon-404:before {
    content: "\e61c"
}

.ele-icon-lunbozutu:before {
    content: "\e634"
}

.ele-icon-help:before {
    content: "\e607"
}

.ele-icon-daima1:before {
    content: "\e635"
}

.ele-icon-jinshui:before {
    content: "\e636"
}

.ele-icon-find-fill:before {
    content: "\e670"
}

.ele-icon-about:before {
    content: "\e60b"
}

.ele-icon-location:before {
    content: "\e715"
}

.ele-icon-xiangshang:before {
    content: "\e619"
}

.ele-icon-pause:before {
    content: "\e651"
}

.ele-icon-riqi:before {
    content: "\e637"
}

.ele-icon-uploadfile:before {
    content: "\e61d"
}

.ele-icon-delete:before {
    content: "\e640"
}

.ele-icon-play:before {
    content: "\e652"
}

.ele-icon-top:before {
    content: "\e604"
}

.ele-icon-haoyouqingqiu:before {
    content: "\e612"
}

.ele-icon-weibiaoti1:before {
    content: "\e605"
}

.ele-icon-chuangkou:before {
    content: "\e638"
}

.ele-icon-comiisbiaoqing:before {
    content: "\e60c"
}

.ele-icon-zhengque:before {
    content: "\e616"
}

.ele-icon-dollar:before {
    content: "\e659"
}

.ele-icon-iconfontwodehaoyou:before {
    content: "\e613"
}

.ele-icon-wenjianxiazai:before {
    content: "\e61e"
}

.ele-icon-tupian:before {
    content: "\e60d"
}

.ele-icon-lianjie:before {
    content: "\e64c"
}

.ele-icon-diamond:before {
    content: "\e735"
}

.ele-icon-jilu:before {
    content: "\e60e"
}

.ele-icon-liucheng:before {
    content: "\e622"
}

.ele-icon-fontstrikethrough:before {
    content: "\e64f"
}

.ele-icon-unlink:before {
    content: "\e64d"
}

.ele-icon-bianjiwenzi:before {
    content: "\e639"
}

.ele-icon-sanjiao:before {
    content: "\e623"
}

.ele-icon-danxuankuanghouxuan:before {
    content: "\e63f"
}

.ele-icon-danxuankuangxuanzhong:before {
    content: "\e643"
}

.ele-icon-juzhongduiqi:before {
    content: "\e647"
}

.ele-icon-youduiqi:before {
    content: "\e648"
}

.ele-icon-zuoduiqi:before {
    content: "\e649"
}

.ele-icon-gongsisvgtubiaozongji22:before {
    content: "\e626"
}

.ele-icon-gongsisvgtubiaozongji23:before {
    content: "\e627"
}

.ele-icon-refresh-2:before {
    content: "\1002"
}

.ele-icon-loading-1:before {
    content: "\e63e"
}

.ele-icon-return:before {
    content: "\e65c"
}

.ele-icon-jiacu:before {
    content: "\e62b"
}

.ele-icon-uploading:before {
    content: "\e67c"
}

.ele-icon-liaotianduihuaimgoutong:before {
    content: "\e63a"
}

.ele-icon-video:before {
    content: "\e6ed"
}

.ele-icon-headset:before {
    content: "\e6fc"
}

.ele-icon-wenjianjiafan:before {
    content: "\e624"
}

.ele-icon-shouji:before {
    content: "\e63b"
}

.ele-icon-tianjia2:before {
    content: "\e654"
}

.ele-icon-wenjianjia:before {
    content: "\e7a0"
}

.ele-icon-biaoqing:before {
    content: "\e650"
}

.ele-icon-html:before {
    content: "\e64b"
}

.ele-icon-biaodan:before {
    content: "\e63c"
}

.ele-icon-cart:before {
    content: "\e657"
}

.ele-icon-camera-fill:before {
    content: "\e65d"
}

.ele-icon-25:before {
    content: "\e62a"
}

.ele-icon-emwdaima:before {
    content: "\e64e"
}

.ele-icon-fire:before {
    content: "\e756"
}

.ele-icon-set:before {
    content: "\e716"
}

.ele-icon-zitixiahuaxian:before {
    content: "\e646"
}

.ele-icon-sanjiao1:before {
    content: "\e625"
}

.ele-icon-tips:before {
    content: "\e702"
}

.ele-icon-tupian-copy-copy:before {
    content: "\e64a"
}

.ele-icon-more-vertical:before {
    content: "\e671"
}

.ele-icon-zhuti2:before {
    content: "\e66c"
}

.ele-icon-loading:before {
    content: "\e63d"
}

.ele-icon-xieti:before {
    content: "\e644"
}

.ele-icon-refresh-1:before {
    content: "\e666"
}

.ele-icon-rmb:before {
    content: "\e65e"
}

.ele-icon-home:before {
    content: "\e68e"
}

.ele-icon-user:before {
    content: "\e770"
}

.ele-icon-notice:before {
    content: "\e667"
}

.ele-icon-voice:before {
    content: "\e688"
}

.ele-icon-download:before {
    content: "\e681"
}

.ele-icon-snowflake:before {
    content: "\e6b1"
}

.ele-icon-yemian1:before {
    content: "\e655"
}

.ele-icon-template:before {
    content: "\e663"
}

.ele-icon-auz:before {
    content: "\e672"
}

.ele-icon-console:before {
    content: "\e665"
}

.ele-icon-app:before {
    content: "\e653"
}

.ele-icon-xiayiye:before {
    content: "\e65a"
}

.ele-icon-website:before {
    content: "\e7ae"
}

.ele-icon-xiayiye1:before {
    content: "\e65b"
}

.ele-icon-component:before {
    content: "\e857"
}

.ele-icon-more:before {
    content: "\e65f"
}

.ele-icon-shrink-right:before {
    content: "\e668"
}

.ele-icon-spread-left:before {
    content: "\e66b"
}

.ele-icon-camera:before {
    content: "\e660"
}

.ele-icon-note:before {
    content: "\e66e"
}

.ele-icon-refresh:before {
    content: "\e669"
}

.ele-icon-nv:before {
    content: "\e661"
}

.ele-icon-nan:before {
    content: "\e662"
}

.ele-icon-senior:before {
    content: "\e674"
}

.ele-icon-theme:before {
    content: "\e66a"
}

.ele-icon-tread:before {
    content: "\e6c5"
}

.ele-icon-praise:before {
    content: "\e6c6"
}

.ele-icon-star-fill:before {
    content: "\e658"
}

.ele-icon-template-1:before {
    content: "\e656"
}

.ele-icon-loading-2:before {
    content: "\e66d"
}